#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	install -D -m 755 po_diff.py debian/po-diff/usr/bin/po-diff
	install -D -m 644 man/en/po-diff.1 debian/po-diff/usr/share/man/man1/po-diff.1
	install -D -m 644 man/sv/po-diff.1 debian/po-diff/usr/share/man/sv/man1/po-diff.1

override_dh_auto_build:
	@true

override_dh_auto_test:
	@true
